@import "../../app.scss";

.contactSection {
  background-image: radial-gradient(
    circle at bottom,
    #f99102 -140%,
    #f99102 -90%,
    #171a1f 50%,
    #171a1f 100%
  );
  color: #f2f5ea;

  .contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include mobile {
        gap: 20px;
        text-align: center;
        align-items: center;
        margin-top: 70px;
      }

      h2 {
        font-size: 100px;
        line-height: 88px;

        @include mobile {
          font-size: 36px;
          line-height: 68px;
        }
      }

      span {
        font-weight: 300;
      }
    }

    .formContainer {
      flex: 1;

      @include mobile {
        width: 100%;
        padding: 0 50px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        textarea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid white;
          color: white;
          border-radius: 5px;
          max-height: none;

          @include mobile {
            padding: 10px;
            max-height: 80px;
          }
        }

        button {
          padding: 20px;
          border: none;
          background-color: orange;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 500;

          @include mobile {
            padding: 10px;
          }
        }
      }
    }
  }
}
