@import "../../app.scss";

.navbar {
  height: 100px;
  border-bottom: 1px solid #2c363f;
  background-color: #171a1f;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      color: white;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        fill: orange;
        width: 40px;
        height: 40px;
        transform: scale(1);
        transition: transform 250ms linear, fill 250ms linear;
      }

      .focus:focus,
      .focus:hover {
        fill: #f2f5ea;
        transform: scale(1.2);
      }
    }
  }
}
